<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/estilos_nuevo.css" rel="stylesheet" type="text/css">
    <title>ALLPROPRETY</title>
</head>
<body>
    <div class="fondo">
        <div class="menu">
            <img class="logo" src="../static/Logotipo_allproperty.png" />
        </div>
            <div class="frase">
                <p class="texto">RENTA LA <br> CASA DE <br></p> 
                <p class="texto" style="font-weight: bolder;">TUS SUEÑOS</p>
                <a href="/calculadora"><button class="iniciar" >¡Empieza Ya!</button></a>
            </div>
                <video src="../static/tierra.mp4" autoplay muted loop class="tierra"></video>
    </div>
    <div class="tapa"></div>
   <div> 
    <img class="grafica_1" src="../static/grafica1_pet.jpeg"/>
        </div>
        <div class="texto_grafica_1">
        		<p style="font-weight: bolder;font-size:38px;text-align:left;">Departamentos de Renta en Monterrey</p>
                <p>Diferencia de precios entre departamentos que admiten mascotas y los que no, la mayoría comparten las mismas características. Admitir mascotas no es determinante para tener un precio de renta elevado, pero puede justificarlo ya que son pocos los departamentos que otorga dicho permiso.</p> 
                </div>
    <img class="grafica_2" src="../static/histograma_pet.jpeg"/>
        </div>
                <div class="texto_grafica_2">
                <p style="font-weight: bolder;font-size:38px;text-align:left;">Comparativa Medias<br>de Precios</br></p>
                <p>Aquí se representa la comparativa de los rangos de precios en los departamentos que admiten y no admiten mascotas. Así como la media y mediana de dichos datos.  Ofreciendo así un panorama más amplio de nuestra muestra obtenida.</p> 
                </div>
    <img class="Rectangulo" src="../static/Rectangulo.png"/>
        </div>
        <div class="text_rectangulo"><p><br>AllProperty</br><br>Es la experiencia inmobiliaria</br><br>en donde puedes vender, comprar</br><br>y rentar todo tipo de propiedades.</br></p> 
                </div>
    <img class="Icono_1" src="../static/logotipo_facebook.png"/>
        </div>
    <img class="Icono_2" src="../static/logotipo_instagram.png"/>
        </div>
    <img class="Icono_3" src="../static/logotipo_linkedin.png"/>
        </div>
    <div class="text_allproperty"><p> 2022 AllProperty. Todos los derechos reservados</p></div>
    <div class="text_telefono"><p>Telefono:<br>81-19-99-85-74</br></p></div>            

</body>
</html>
